* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 12%;
    align-items: center;
    border-radius: 50px;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
    }
    
    .apresentaçao_trabalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 30px;
    }
    
    .imagem_arvore{
    width: 15%;
    }

    body {
        background: linear-gradient(lemonchiffon, #dd371a);
    }
    
    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .imggg {
        width: 40%;
        height: 40%;
    }

a :hover{
    cursor: pointer;
}